---
import MainLayout from "../../layouts/MainLayout.astro";
import {getCollection} from "astro:content";
import type {CollectionEntry} from "astro:content";
import SearchForm from "../../components/SearchForm.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import BackToAllArticles from "../../components/BackToAllArticles.astro";

const query: string | null = Astro.url.searchParams.get('query');

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'));
const allArticlesWithQuery: CollectionEntry<'blog'>[] = allBlogArticles.filter((article) => {
    const TitleMatch = article.data.title.toLowerCase().includes(query!.toLowerCase());
    const BodyMatch = article.body.toLowerCase().includes(query!.toLowerCase());
    const SlugMatch = article.slug.toLowerCase().includes(query!.toLowerCase());
    const TagsMatch = article.data.tags.some((tag) => tag.toLowerCase().includes(query!.toLowerCase()));
    return TitleMatch || BodyMatch || TagsMatch || SlugMatch;
});
---

<MainLayout title="Search Results">
    <BackToAllArticles link="/articles" title="All Articles"/>
    <SearchForm/>
    <h1 class="text-2xl pb-3 pt-6">Result for "{query}"</h1>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {
            allArticlesWithQuery.map((article) => (
                    <ArticleCard article={article}/>
            ))
        }
    </div>
</MainLayout>
