---
import ImageDinamic from "./ImageDinamic.astro";
import Tags from "./Tags.astro";
import { formatDate } from "../utils/utils";
import type { CollectionEntry } from "astro:content";

const { article } = Astro.props;

interface Props {
  article: CollectionEntry<"blog">;
}
---

<div class="max-w-md mx-auto mt-10">
  <div class="bg-white rounded-lg overflow-hidden shadow-lg">
    <a href={'/articles/' + article.slug}>
      <ImageDinamic
        imgSrc={article.data.image}
        alt="Tech People Team"
        title="Tech People Team"
        classString="w-full h-auto rounded-lg shadow-lg"
      />
    </a>
    <div class="p-6">
      <h2 class="text-2xl font-semibold mb-2">
        <a href={'/articles/' + article.slug}>
          {article.data.title}
        </a>
      </h2>
      <p class="text-gray-600 text-sm mb-4">
        {formatDate(article.data.pubDate)}
      </p>
      <div class="flex flex-wrap gap-2">
        <Tags tagsArray={article.data.tags} />
      </div>
    </div>
  </div>
</div>
